footer{
    background-color: blue
    ;
}
input{
    background-color: blue;
}

header{
    background-color: blue;
}
.jumbotrontext-center{
    background-image: url(images300.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 60vh;
}